<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yu.blog.mapper.PostReviewMapper">
    <insert id="insert">
        insert into blog_post_review(
        <if test="reviewId != null">
            review_id,
        </if>
        <if test="reviewUsername != null">
            review_username,
        </if>
        <if test="reviewPostId != null">
            review_post_id,
        </if>
        <if test="reviewStatus != null">
            review_status,
        </if>
        <if test="reviewFailReason != null">
            review_fail_reason,
        </if>
        <if test="reviewUpdateTime != null">
            review_update_time,
        </if>
        <if test="reviewCreateTime != null">
            review_create_time
        </if>
        ) values (
        <if test="reviewId != null">
            #{reviewId},
        </if>
        <if test="reviewUsername != null">
            #{reviewUsername},
        </if>
        <if test="reviewPostId != null">
            #{reviewPostId},
        </if>
        <if test="reviewStatus != null">
            #{reviewStatus},
        </if>
        <if test="reviewFailReason != null">
            #{reviewFailReason},
        </if>
        <if test="reviewUpdateTime != null">
            #{reviewUpdateTime},
        </if>
        <if test="reviewCreateTime != null">
            #{reviewCreateTime}
        </if>
        )
    </insert>











    <resultMap id="postReview" type="io.github.yu.blog.model.PostReview">
        <id property="reviewId" column="review_id" />
        <result property="reviewUsername" column="review_username" />
        <result property="reviewPostId" column="review_post_id" />
        <result property="reviewStatus" column="review_status" />
        <result property="reviewFailReason" column="review_fail_reason" />
        <result property="reviewCreateTime" column="review_create_time" />
        <result property="reviewUpdateTime" column="review_update_time" />
    </resultMap>
</mapper>