<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yu.blog.mapper.PostTagMapper">
    <insert id="insert">
        insert into blog_post_tag(tag_name, sort_id)
        values(
        #{tagName}, #{sortId}
        )
    </insert>


    <select id="listBySortId" resultMap="postTag">
        <include refid="common-select" />
        where sort_id = #{id}
    </select>

    <select id="getById" resultMap="postTag">
        <include refid="common-select" />
        where tag_id = #{id}
    </select>

    <select id="list" resultMap="postTag">
        <include refid="common-select" />
    </select>


    <sql id="common-select">
        select tag_id, tag_name, sort_id from blog_post_tag
    </sql>

    <resultMap id="postTag" type="io.github.yu.blog.model.PostTag">
        <id property="tagId" column="tag_id" />
        <result property="tagName" column="tag_name" />
        <result property="sortId" column="sort_id" />
    </resultMap>
</mapper>