<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yu.blog.mapper.PostMapper">
    <insert id="insert">
        insert into blog_post(
        <if test="postId != null">
            post_id,
        </if>
        <if test="postTitle != null">
            post_title,
        </if>
        <if test="postContent != null">
            post_content,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="postViews != null">
            post_views,
        </if>
        <if test="postLikes != null">
            post_likes,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="sort != null">
            sort,
        </if>
        <if test="titlePicture != null">
            title_picture,
        </if>
        <if test="postTags != null">
            post_tags,
        </if>
        <if test="createTime != null">
            create_time
        </if>
        ) values (
        <if test="postId != null">
            #{postId},
        </if>
        <if test="postTitle != null">
            #{postTitle},
        </if>
        <if test="postContent != null">
            #{postContent},
        </if>
        <if test="userId != null">
            #{userId},
        </if>
        <if test="postViews != null">
            #{postViews},
        </if>
        <if test="postLikes != null">
            #{postLikes},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="sort != null">
            #{sort},
        </if>
        <if test="titlePicture != null">
            #{titlePicture},
        </if>
        <if test="postTags != null">
            #{postTags,typeHandler=io.github.yu.common.handler.ListTypeHandler},
        </if>
        <if test="createTime != null">
            #{createTime}
        </if>
        )
    </insert>
    
    
    <delete id="deleteById">
        delete from blog_post
        where post_id = #{id}
    </delete>

    <update id="updateById">
        update blog_post
        <set>
            <if test="postTitle != null">
                post_title = #{postTitle},
            </if>
            <if test="postContent != null">
                post_content = #{postContent},
            </if>
            <if test="postViews != null">
                post_views = #{postViews},
            </if>
            <if test="postLikes != null">
                post_likes = #{postLikes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="titlePicture != null">
                title_picture = #{titlePicture},
            </if>
            <if test="postTags != null">
                post_tags = #{postTags,typeHandler=io.github.yu.common.handler.ListTypeHandler}
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where post_id = #{postId}
    </update>

    <select id="listByOrder" resultMap="post">
        <include refid="common-select" />
        <if test="query != null">
            order by #{query.column} #{query.order}
        </if>
    </select>

    <select id="getById" resultMap="post">
        <include refid="common-select" />
        where post_id = #{id}
    </select>

    <select id="list" resultMap="post">
        <include refid="common-select" />
    </select>

    <select id="pageList" resultMap="post">
        <include refid="common-select" />
    </select>

    <select id="pageListByQuery" resultMap="post">
        <include refid="common-select" />
        <include refid="query" />
    </select>
    
    
    
    <sql id="common-select">
        select post_id, post_title, post_content, user_id, post_views, post_likes,
        create_time, update_time, status, sort, title_picture, post_tags
        from blog_post
    </sql>

    <sql id="query">
        <if test="query != null">
            <where>
                <if test="query.startTime != null and query.endTime != null">
                    create_time between #{query.startTime} and #{query.endTime}
                </if>
            </where>
            <if test="query.column != null and query.order != null">
                order by #{query.column} #{query.order}
            </if>
        </if>
    </sql>
    
    
    <resultMap id="post" type="io.github.yu.blog.model.Post">
        <id property="postId" column="post_id" />
        <result property="postTitle" column="post_title" />
        <result property="postContent" column="post_content" />
        <result property="userId" column="user_id" />
        <result property="postViews" column="post_views" />
        <result property="postLikes" column="post_likes" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="status" column="status" />
        <result property="sort" column="sort" />
        <result property="titlePicture" column="title_picture" />
        <result property="postTags" column="post_tags" typeHandler="io.github.yu.common.handler.ListTypeHandler"/>
    </resultMap>
</mapper>