<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yu.blog.mapper.UserFocusMapper">
    <insert id="insert">
        insert into
            blog_user_focus
        values(
            #{focusId}, #{userId}, #{userFocusId}, #{focusTime}
        )

    </insert>

    <delete id="deleteById">
        delete from
            blog_user_focus
        where
            focus_id = #{focusId}
    </delete>

    <select id="listVoByEntity" resultMap="userFocusVo">
        <include refid="common-select"/>
        <where>
            <include refid="common-query" />
        </where>
    </select>

    <sql id="common-select">
        select
            focus_id, user_id, user_focus_id, focus_time
        from
            blog_user_focus
    </sql>

    <sql id="common-query">
        <if test="query != null">
            <if test="query.focusId != null">
                focus_id = #{query.focusId}
            </if>
            <if test="query.userId != null">
                user_id = #{query.userId}
            </if>
            <if test="query.userFocusId != null">
                user_focus_id = #{query.userFocusId}
            </if>
            <if test="query.focusTime != null">
                focus_time = #{query.focusTime}
            </if>
        </if>
    </sql>

    <resultMap id="userFocus" type="io.github.yu.blog.model.UserFocus">
        <id property="focusId" column="focus_id"/>
        <result property="userId" column="user_id"/>
        <result property="userFocusId" column="user_focus_id"/>
        <result property="focusTime" column="focus_time"/>
    </resultMap>

    <resultMap id="userFocusVo" type="io.github.yu.blog.model.UserFocusVo">
        <id property="focusId" column="focus_id"/>
        <result property="userId" column="user_id"/>
        <result property="userFocusId" column="user_focus_id"/>
        <result property="focusTime" column="focus_time"/>
    </resultMap>
</mapper>